$bgColor: #f8f8f8;
$bgColorWhite: #fff;
$accentColor: #ff3e79;
$accentColorHover: #ff78a0;
$blueAccentColor: #41f6d7;
$text: #1b1c21;
$textHover: #33343a;
$textGray: #7e7e82;
$fontFamily: "TT Lakes";

$menuWidth: 320px;
$mobileWidth: 500px;
$tabletWidth: 650px;
$maxWidth: 1240px;